<h1>New Entry for <%= @place.name %></h1>

<%= form_with model: [@place, @entry], local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
 <p>
  <label for="occurred_on">Date:</label>
  <input type="date" name="entry[occurred_on]" id="occurred_on" />
</p>

  </p>
  <p>
    <%= form.submit "Create Entry" %>
  </p>
<% end %>

<p><%= link_to "Back to Place", place_path(@place) %></p>
